body{
    background-color: rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: purple; 
}
h1{
    color: red;
    font-size: 16px;
    border-bottom: 3px solid black;
}
a:link, a:visited{
    color: blue;
       }
a:hover{
    color: red;
    text-decoration-line: line-through;
}
a:active {
    color: purple;
  }
  figure{
      float: right;
      text-align: center;
      font-size: 17px;
      color:rgb(38, 138, 43);
      border: 1.5px black solid;
      margin: 0.5em;
      padding: 0.5em;
  }
  